on init

    # ko files for exfat
    insmod /lib/modules/exfat_core.ko
    insmod /lib/modules/exfat_fs.ko

on boot

    # Device Encryption by Security R&D Group. 
    setprop ro.crypto.keyfile.userdata /efs/metadata
