import init.sp8810.usb.rc

on init

    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage 0550 system sdcard_r
    mkdir /storage/emulated 0555 root root

    # External storage directories
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/usbdisk0 0000 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard1
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # For backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/sdcard1 /external_sd
   
    mkdir /efs 0771 radio system
    symlink /efs /factory
    symlink /dev/block/mmcblk0p11 /dev/block/param  

on fs

    mkdir /productinfo 0774 system system
    mount_all /fstab.sp8810
    setprop ro.crypto.fuse_sdcard true

on post-fs
    insmod /system/lib/modules/ump.ko
    insmod /system/lib/modules/mali.ko

    chown system system /productinfo
    chmod 0774 /productinfo
    mount -o remount,rw /productinfo

    chown radio system /efs
    chmod 0771 /efs

on post-fs-data

    # we will remap this as /storage/sdcard0 with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media



    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    #for wifi
    mkdir /efs/wifi 0775 radio system
    mkdir /efs/bluetooth 0775 radio system
    mkdir /efs/imei 0775 radio system
    mkdir /data/misc/wifi 0775 wifi system
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/misc/radio 0775 radio system
    mkdir /data/anr 0775 system system
    mkdir /system/etc/wifi 0775 wifi wifi
    chown system system /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info

    # For TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0660 /data/.psm.info

    # Accelerometer_sensor
    chown system radio /dev/accelerometer
    chown system radio /sys/class/sensors/accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name

    chown system system /sys/class/input/input3/enable
    chown system system /sys/class/input/input3/poll_delay
    chown system system /sys/class/input/input3/acc_cal_open
    chmod 0660 /sys/class/input/input3/enable
    chmod 0660 /sys/class/input/input3/poll_delay
    chmod 0660 /sys/class/input/input3/acc_cal_open
     
on boot

    # Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chmod 0660 /sys/class/backlight/panel/brightness

    chown system system /sys/power/release_wakelock
    chown system system /sys/power/restart_cpc
    chmod 0660 /sys/power/release_wakelock
    chmod 0220 /sys/power/restart_cpc
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost

    # Assume SMP uses shared cpufreq policy for all CPUs
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

    # Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state
    chown media system /sys/class/audio/earjack/reselect_jack 

    # Battery node
    chown system radio /sys/class/power_supply/battery/batt_charging_source
    chown system radio /sys/class/power_supply/battery/batt_error_test
    chown system radio /sys/class/power_supply/battery/batt_lp_charging
    chown system radio /sys/class/power_supply/battery/batt_read_adj_soc
    chown system radio /sys/class/power_supply/battery/batt_read_raw_soc
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/batt_slate_mode
    chown system radio /sys/class/power_supply/battery/batt_temp_adc
    chown system radio /sys/class/power_supply/battery/batt_temp_adc_aver
    chown system radio /sys/class/power_supply/battery/batt_temp_adc_cal
    chown system radio /sys/class/power_supply/battery/batt_temp_aver
    chown system radio /sys/class/power_supply/battery/batt_type
    chown system radio /sys/class/power_supply/battery/batt_vf_adc
    chown system radio /sys/class/power_supply/battery/batt_vfocv
    chown system radio /sys/class/power_supply/battery/batt_vol_adc
    chown system radio /sys/class/power_supply/battery/batt_vol_adc_aver
    chown system radio /sys/class/power_supply/battery/batt_vol_adc_cal
    chown system radio /sys/class/power_supply/battery/batt_vol_aver
    chown system radio /sys/class/power_supply/battery/factory_mode
    chown system radio /sys/class/power_supply/battery/siop_activated
    chown system radio /sys/class/power_supply/battery/siop_level
    chown system radio /sys/class/power_supply/battery/update
    chown system radio /sys/class/power_supply/battery/wc_status
    chown system radio /sys/class/power_supply/battery/wpc_pin_state
    chown system radio /sys/class/power_supply/fuelgauge/fg_curr_ua

    # CTIA event
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
    chown system radio /sys/class/power_supply/battery/talk_wcdma
    chown system radio /sys/class/power_supply/battery/talk_gsm
    chown system radio /sys/class/power_supply/battery/call
    chown system radio /sys/class/power_supply/battery/data_call
    chown gps radio /sys/class/power_supply/battery/gps
    chown system radio /sys/class/power_supply/battery/wifi
    chown system radio /sys/class/power_supply/battery/lte

    # Thermistor node
    chown radio system /sys/devices/platform/sec-thermistor/temp_adc
    chown radio system /sys/devices/platform/sec-thermistor/temperature

    # Permissions for touch
    chown system radio /sys/class/sec/tsp/cmd

    # Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/enable_disable 
    chown system radio /sys/class/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/class/sec/sec_touchkey/touchkey_back
    chown system radio /sys/class/sec/sec_touchkey/touch_update
    chown system radio /sys/class/sec/sec_touchkey/touch_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/touchkey_threshold
    chown system system /sys/devices/virtual/sec/sec_touchkey/brightness

     # Permissions for gpio_keys
#    chown radio system /sys/class/sec/sec_key/wakeup_keys 
#    write /sys/class/sec/sec_key/wakeup_keys 116,172,544

    # Permissions for Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_flash
    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype
    chown system radio /sys/class/flash/flash/flash_power
    chown radio system /sys/devices/platform/samsung-pd.5/s3c-fimc.2/range_mode
    chmod 0660 /sys/devices/platform/samsung-pd.5/s3c-fimc.2/range_mode

    # Switch Device
    chown system system /sys/class/sec/switch/uart_sel
    chown system system /sys/class/sec/switch/usb_sel
    chown system system /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc

     # Permissions for SVC LED
	chown system system /sys/class/sec/led/led_pattern
	chown system system /sys/class/sec/led/led_blink
	chown system system /sys/class/sec/led/led_br_lev
	chown system system /sys/class/sec/led/led_lowpower

    # Voice Soulution
    copy /system/etc/DiamondVoice.txt /data/DiamondVoice.txt
    chmod 0777 /data/DiamondVoice.txt	
    copy /system/etc/DiamondVoice_Filter.txt /data/DiamondVoice_Filter.txt
    chmod 0777 /data/DiamondVoice_Filter.txt
    insmod /system/lib/modules/VoiceSolution.ko

    # Permissions for bluetooth
    chmod 666 /dev/ttyS0
    chmod 660 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth system /proc/bluetooth/sleep/proto
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"

    chmod 660 /proc/nk/resume
    chmod 660 /proc/nk/restart
    chmod 660 /proc/nk/guest-02/dsp_bank
    chmod 660 /proc/nk/guest-02/guestOS_2_bank
    chown system root /proc/nk/resume
    chown system root /proc/nk/restart
    chown system root /proc/nk/guest-02/dsp_bank
    chown system root /proc/nk/guest-02/guestOS_2_bank
    chown system system /sys/class/power_supply/*
    chown system system /proc/sys/kernel/printk

# SEC_PRODUCT_FEATURE_COMMON_USE_MULTISIM
#   simslot 1
#   setprop ro.multisim.simslotcount 1  
#   simslot 2
    setprop ro.multisim.simslotcount 2
#   simslot 3
#   setprop ro.multisim.simslotcount 3

    mount debugfs debugfs /sys/kernel/debug

service vcharged /bin/vcharged
    class core
    user system
    group system
    oneshot

service charge /bin/charge
    class charger
    user root
    oneshot

# Start nvitem daemon.
service nvm_daemon /system/bin/nvm_daemon
    class main
    user system
    group system radio shell
    oneshot

# Start samsung daemon.
service ss_daemon /system/bin/ss_daemon
    class main
    user system
    group system radio shell
    oneshot

# Telephony service
service sprd_monitor /system/bin/sprd_monitor
    class core
    user system
    group system radio shell
    oneshot

service modemd /system/bin/modemd
    class main
    user system
    group system radio
    oneshot

service engpcclient /system/bin/engpcclient
    class main
    user system
    group shell system
    disabled
    oneshot

service engservice /system/bin/engservice
    class main
    user system
    group system
    disabled
    oneshot

service engmodemclient /system/bin/engmodemclient
    class main
    user system
    group system radio
    disabled
    oneshot

service engsetmacaddr /system/bin/engsetmacaddr
    class main
    user system
    oneshot

service phoneserver /system/bin/phoneserver
    class core
    user system
    group system radio shell
    disabled
    oneshot

service phoneserver_2sim /system/bin/phoneserver_2sim
    class core
    user system
    group system radio shell
    disabled
    oneshot

service calibrationinit /system/bin/calibration_init
    class main
    oneshot

# rild service
service ril-daemon /system/bin/rild_sp  -l /system/lib/libreference-ril.so -- -n 0
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r

service ril-daemon2 /system/bin/rild_sp  -l /system/lib/libreference-ril.so -- -n 1
    class main
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r

# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start

# TODO: btld is only used for FM

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dnl80211 -iwlan0 -e/data/misc/wifi/entropy.bin -c/data/misc/wifi/wpa_supplicant.conf
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/p2p_supplicant \
	-ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1
	class main
	disabled
	oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service macloader /system/bin/macloader
    class main
    oneshot

service slog /system/bin/slog
    class main
    user system
    group system shell radio log

# Create symlink
service pty_symlink /system/bin/ext_symlink.sh -p
    user root
    disabled
    oneshot

service smd_symlink /system/bin/ext_symlink.sh -u
    user root
    disabled
    oneshot

# data on
service data_on /system/bin/ext_data.sh  -u
    user root
    disabled
    oneshot

# data off
service data_off /system/bin/ext_data.sh  -d
    user root
    disabled
    oneshot

# kill app
service kill_phone /system/bin/ext_kill.sh  -m
    user root
    disabled
    oneshot

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    class main
    user root
    group radio log

on alarm
    class_start core
    start media
    exec /bin/poweroff_alarm
